# Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build outputs
/ios
/android
*.apk
*.aab

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
